<table style="width: 500px;" border="2" cellspacing="0">
    <thead>
    <tr>
        <th style="color: #FFFFFF; background-color: #3c8dbc; font-size: 14px; padding-top: 5px; padding-bottom: 5px;">
            {% block title %}
            {% endblock %}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td style="padding-top: 5px; padding-bottom: 5px;">
            {% block body %}
            {% endblock %}
        </td>
    </tr>
    </tbody>

</table>